* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', 'Yu Gothic', 'Meiryo', sans-serif;
  margin: 0px;
}



 /* ヘッダー部分 */
header {
  width: 100%;
  background-color: rgba(127, 66, 134, 0.6);
  position: fixed;
    top: 0px;
    z-index: 10;
  border-radius: 10px;
}
.header-logo {
  display: flex; 
    align-items: center; /* flex要素専用の中央表示 */
    justify-content: center; /* flex要素専用の中央表示 */
  letter-spacing: 1px;  
}
.header-logo p {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.header-logo i {
  position: relative;
  top: 5px;
  border-bottom: 5px solid white;
  border-radius: 10px;
}



/* メイン部分 */
.main {
  padding: 150px 80px;
  background-image: url("uranai_home.webp");
  background-size: cover;
  background-position: center; /* 画像をどのサイトのサイズでも中央表示 */
  background-repeat: no-repeat; /* 画像をループ表示しない */
  background-attachment: fixed; /* ← 追加で固定に */
  height: 100vh;
  width: 100%;
  position: relative; /* 子要素が親要素を基準に動かせるように*/
  display: flex;
}
/* main内のブロック要素の初期設定 */
.container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* flex要素専用の中央表示 */
  align-items: center; /* flex要素専用の中央表示 */
}




/* 左側の文字部分、buttonの時みたいに箱で分けた方がよかったかも */
h2 {
  margin: 0;
  font-size: clamp(19px, 4vw, 40px); /* clump(最小値,理想値,最大値) */
  font-family: "Yuji Syuku", serif;
  color: white;
  text-shadow:  /* 文字に影を付けて疑似的に縁取りに*/
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
  letter-spacing: 3px;
  text-align: center;
}
.h2-1 {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards; /*アニメーションの名前、変化時間、変化の仕方、最後の状態を維持して表示*/
}
.h2-2 {
  margin-top: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards; /*アニメーションの名前、変化時間、変化の仕方、最後の状態を維持して表示*/
  animation-delay: 1s; /* 1s遅らせてアニメーション開始 */
}

@keyframes fadeIn { /* fadeInはアニメーションの名付け */
  from { /* スタート位置 */
    opacity: 0;
    transform: translateY(10px); /* 最初は少し下に配置プロパティ */
  }
  to { /* ゴール位置 */
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻す */
  }
}




/* リザルト表示の元の箱 */
.container2 {
  width: 50%;
  height: 100%;
  z-index: 20;
  visibility: hidde; /* display:none;と違い非表示にはなるが存在は残る */
}
/* 画面を覆う薄暗い箱 */
#overlay {
  position: fixed;
    top: 0px;
    left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 15;
}
/* ズームイン用のアニメーション作成 */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* スライドイン用のアニメーション作成 */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideInUp {
  animation: slideInUp 1s ease-out forwards;
}
.slideInUp2 {
  animation: slideInUp 1s ease-out forwards;
  animation-delay: 4.5s;
}
/* リザルト表示 占う */
.result1 {
  width: 100%;
  height: 70%;
  display: none;
    justify-content: center;
    align-items: center;
  text-align: center;
  font-size: clamp(30px, 6vh, 50px);
  font-family: "Yuji Syuku", serif;
  font-weight: 1500;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  opacity: 0;
}
.lucky { 
  color: red;
  text-shadow:  /* 文字に影を付けて疑似的に縁取りに*/
    -1px -1px 0 rgb(255, 255, 255),
     1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
     1px  1px 0 rgb(255, 255, 255);
  animation: zoomIn 1s linear forwards; /* ズームインアニメーション等速で */
  animation-delay: 2s;
  opacity: 0;
}
.unlucky {
  color: rgb(0, 0, 0);
  text-shadow:  /* 文字に影を付けて疑似的に縁取りに*/
    -2px -2px 0 rgb(255, 255, 255),
    0px -2px 0 rgb(255, 255, 255),
    2px -2px 0 rgb(255, 255, 255),
    -2px  0px 0 rgb(255, 255, 255),
    2px  0px 0 rgb(255, 255, 255),
    -2px  2px 0 rgb(255, 255, 255),
    0px  2px 0 rgb(255, 255, 255),
    2px  2px 0 rgb(255, 255, 255);
  animation: zoomIn 1s linear forwards; /* ズームインアニメーション等速で */
  animation-delay: 2s;
  opacity: 0;
}
.result2 {
  width: 100%;
  height: 30%;
  display: none;
    justify-content: center;
    align-items: center;
  text-align: center;
  font-size: clamp(20px, 4vh, 40px);
  font-family: "Noto Serif JP", serif;
  color: white;
  text-shadow:  /* 文字に影を付けて疑似的に縁取りに*/
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
  border: 3px solid white;
  border-radius: 10px;
  opacity: 0;
}
.result2 h3 {
  border-bottom: 2px double white;
}

/* リザルト表示 占わない */
@keyframes flipInY {
  from {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(600px) rotateY(-10deg);
  }
  70% {
    transform: perspective(600px) rotateY(10deg);
  }
  to {
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
  }
}
.flipInY {
  animation: flipInY 1s ease-out forwards;
  animation-delay: 0.5s;
}

#jojo {
  width: 100%;
  height: 100%;
  border: 10px double white;
  border-radius: 10px;
  z-index: 25;
  opacity: 0;
  display: none;
}






/* ボタン要素の入ってる箱のプロパティ */
.button1 {
  height: 50%;
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}
/* ボタン自体のプロパティ */
button {
  width: 100%;
  height: 30%; /* 親要素の高さに対して30%の高さを持つが、75pxより下にはならない*/
  min-height: 75px;
  font-size: clamp(19px, 4vw, 35px); /* clump(最小値,理想値,最大値) */
  font-family: "Yuji Syuku";
  border: 5px solid rgb(109, 57, 111);
  border-radius: 30px;
  background-color: rgba(105, 23, 108,0.8);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards; /*アニメーションの名前、変化時間、変化の仕方、最後の状態を維持して表示*/
  animation-delay: 2s;
}
button:hover {
  background-color: rgba(105, 23, 108,1.0);
}
button:active {
  position: relative;
    top: 7px;
}




/* フッター部分 */
footer {
  height: 30px;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.802);
  position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9;
  border-radius: 10px;
}